<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />

    <link rel="stylesheet" href="/static\styles.css" />
    <style>
        .about_me {
            margin: 25px;
            margin-top: 100px;

        }

        .expriences,
        .skill {
            margin-top: 30px;
        }

        .e,
        .s {
            margin: 5px;
            margin-left: 50px;

        }

        .first {
            margin-top: 25px;
        }

        .ex,
        .s {
            margin-top: 50px;
        }
    </style>
    <title>Web Technology Project.</title>
</head>

<body>
    <nav>
        <div class="nav__content">
            <div class="logo"><a href="#">Susan</a></div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check" />
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <!-- body section -->

    <div class="about_me">
        <div class="defie">
            <h2 class="about">About me.</h2>
            <p>Hi there! I'm Susan Aryal, a passionate web developer dedicated to crafting exceptional digital
                experiences. With years
                of experience in front-end and back-end development, I thrive on transforming ideas into reality through
                code. My
                commitment to continuous learning and collaboration drives me to deliver high-quality solutions that
                exceed
                expectations. Let's build something amazing together!</p>
        </div>

        <div class="expriences">
            <h2 class="ex">MY EXPERIENCES</h2>
            <div class="first">
                <h4 class="e">XYX CORPORATTION <span>2020-present</span></h4>
                <p class="e">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit consectetur dignissimos quae,
                    repellendus obcaecati laboriosam voluptate ipsum unde vero delectus!</p>
            </div>
            <div class="first">
                <h4 class="e">XYX CORPORATTION <span>2018-2020</span></h4>
                <p class="e">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit consectetur dignissimos quae,
                    repellendus obcaecati laboriosam voluptate ipsum unde vero delectus!</p>
            </div>
            <div class="first">
                <h4 class="e">XYX CORPORATTION <span>2016-2018</span></h4>
                <p class="e">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit consectetur dignissimos quae,
                    repellendus obcaecati laboriosam voluptate ipsum unde vero delectus!</p>
            </div>
            <div class="first">
                <h4 class="e">XYX CORPORATTION <span>2015-present</span></h4>
                <p class="e">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit consectetur dignissimos quae,
                    repellendus obcaecati laboriosam voluptate ipsum unde vero delectus!</p>
            </div>
        </div>


        <div class="skill">
            <h2 class="ex">MY SKILLS </h2>
            <!-- <p>This skills section has used flask to list the skills.</p> -->
            <div class="e">
                <ol>

                    {% for skill in skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <!-- end of body section -->
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__social">
                <a href="#"><i class="ri-facebook-fill"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-github-fill"></i></a>
                <a href="#"><i class="ri-linkedin-fill"></i></a>
            </div>
            <p class="footer__copyright">&copy; 2023 Susan. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>