<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />

    <link rel="stylesheet" href="/static\styles.css" />
    <title>Web Technology Project.</title>
</head>

<body>
    <nav>
        <div class="nav__content">
            <div class="logo"><a href="#">Susan</a></div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check" />
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <!-- body section -->
    <!-- <div class="underdevelopmet">
        This Part of the content will be updated soon.
    </div> -->

    <div class="contact_heading" style="margin-top: 100px; text-align: center;">
        <h1>Contact us</h1>
    </div>
    <div class=" container_c">
        <form action="#">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
            </select>

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit" id="submit_buttom">

        </form>
    </div>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__social">
                <a href="#"><i class="ri-facebook-fill"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-github-fill"></i></a>
                <a href="#"><i class="ri-linkedin-fill"></i></a>
            </div>
            <p class="footer__copyright">&copy; 2023 Susan. All rights reserved.</p>
        </div>
    </footer>
    <script src="/static/script.js"></script>
</body>

</html>