<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/static\styles.css" />
    <title>Web Technology Project.</title>
</head>

<body>
    <nav>
        <div class="nav__content">
            <div class="logo"><a href="#">Susan</a></div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check" />
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <section class="section">
        <div class="section__container">
            <div class="content">
                <p class="subtitle">HELLO</p>
                <h1 class="title">
                    I'm <span>Susan<br />a</span> Web Developer
                </h1>
                <p class="description">
                    Welcome to my web developer portfolio! I'm Susan, a skilled and
                    creative web developer with a passion for creating beautiful,
                    responsive, and user-friendly websites. I've worked on a variety of
                    web projects, ranging from personal blogs to e-commerce platforms.
                </p>
                <div class="action__btns">
                    <button class="cv">My CV</button>
                </div>
            </div>
            <div class="image">
                <img src="/assets/profile.jpg" alt="profile" />
            </div>
        </div>

        <!--  experiences-->
        <section class="section" ">
            <section class=" section__container" style="padding:5px; min-height: auto;">
            <h1 class="title">
                <span>MY EXPERIENCES</span>
            </h1>
        </section> <br>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Front-end Development
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <strong>Front end development using React.</strong> <br>My front-end development skills
                        encompass a
                        comprehensive understanding of HTML, CSS, and JavaScript, enabling me to
                        create captivating and functional web experiences. I am proficient in utilizing CSS
                        preprocessors and popular frameworks
                        such as React.js to streamline development processes and build robust applications. With a
                        strong grasp of version
                        control systems like Git, I effectively manage code changes and collaborate seamlessly with team
                        members. Additionally,
                        I specialize in crafting responsive designs that ensure optimal viewing experiences across
                        various devices and browsers.
                        My commitment to web accessibility and adherence to basic SEO principles further enhance the
                        usability and visibility of
                        the projects I work on. Furthermore, I leverage task runners, build tools, and AJAX/APIs to
                        integrate dynamic content
                        seamlessly, enhancing user engagement and interaction on web platforms.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Python
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <strong>Python using Django.</strong>As a Python developer specializing in Django and machine
                        learning (ML), I excel in building robust web applications and
                        implementing intelligent features. With Django, I efficiently manage web development tasks like
                        database management and
                        user authentication. Leveraging ML libraries like NumPy and Scikit-learn, I develop predictive
                        models for tasks such as
                        recommendation systems and sentiment analysis. Proficient in deploying applications and models
                        to cloud platforms, I
                        ensure scalability and reliability. Additionally, my expertise in version control with Git
                        facilitates seamless
                        collaboration in team environments. Overall, my skills empower me to deliver innovative
                        solutions at the intersection of
                        web development and machine learning.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Networking
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <strong>Networking/ Ethical hacking</strong> In networking, I specialize in designing,
                        implementing, and securing network infrastructures. Proficient in configuring
                        routers, switches, and firewalls, I ensure seamless connectivity and robust security measures.
                        My expertise in network
                        protocols and monitoring tools enables efficient troubleshooting and optimization of network
                        performance. Additionally,
                        I possess strong communication skills for effective collaboration with cross-functional teams.
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!-- skills -->
    <section class="section">
        <section class="section__container" style="padding:5px; min-height: auto;">
            <h1 class="title">
                <span>MY SKILLS</span>

            </h1>
        </section>
        <!-- this is here it goes -->
        <div class="s_container">
            <div class="skill-box">
                <span class="title">HTML</span>
                <div class="skill-bar">
                    <span class="skill-per html">
                        <span class="tooltip">90%</span>
                    </span>
                </div>
            </div>
            <div class="skill-box">
                <span class="title">CSS</span>
                <div class="skill-bar">
                    <span class="skill-per css">
                        <span class="tooltip">70%</span>
                    </span>
                </div>
            </div>
            <div class="skill-box">
                <span class="title">JavaScript</span>
                <div class="skill-bar">
                    <span class="skill-per javascript">
                        <span class="tooltip">50%</span>
                    </span>
                </div>
            </div>
            <div class="skill-box">
                <span class="title">NodeJS</span>
                <div class="skill-bar">
                    <span class="skill-per nodejs">
                        <span class="tooltip">30%</span>
                    </span>
                </div>
            </div>
        </div>
        <!--  -->
    </section>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__social">
                <a href="#"><i class="ri-facebook-fill"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-github-fill"></i></a>
                <a href="#"><i class="ri-linkedin-fill"></i></a>
            </div>
            <p class="footer__copyright">&copy; 2023 Susan. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>