<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />

    <link rel="stylesheet" href="/static\styles.css" />
    <link rel="stylesheet" href="/static/resume.css">
    <title>Web Technology Project.</title>
</head>

<body>
    <nav>
        <div class="nav__content">
            <div class="logo"><a href="#">Susan</a></div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check" />
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <!-- body section -->

    <div class="full">
        <h2 class="myresume" style="padding: 5px; text-align: center; align-items: center;">MY RESUME</h2> <br>
        <div class="left">
            <div class="image">
                <img src="https://susanaryal.com.np/MyPic.png" alt="gfg-logo" style="width:100px;
                                height:100px;border-radius: 20px;">
            </div>
            <div class="Contact">
                <h2>Contact</h2>
                <p>
                    <b>Email id:</b>susanaryal089@gmail.com
                </p>
                <p>
                    <b>Mobile no :</b>1234567890
                </p>
            </div>
            <div class="Skills">
                <h2>Skills</h2>
                <ul>
                    <li>
                        <b>Programming Languages :
                            Python, Java, C++</b>
                    </li>
                    <li>
                        <b>Frontend : HTML5, CSS3,
                            JavaScript, React</b>
                    </li>
                    <li>
                        <b>Backend : Node.js</b>
                    </li>
                </ul>
            </div>
            <div class="Language">
                <h2>Language</h2>
                <ul>
                    <li>English</li>
                    <li>Hindi</li>
                </ul>
            </div>
            <div class="Hobbies">
                <h2>Hobbies</h2>
                <ul>
                    <li>Playing cricket</li>
                    <li>Swimming</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="name">
                <h1>Susan Aryal</h1>
            </div>
            <div class="title">
                <p>Web Developer</p>
            </div>
            <div class="Summary">
                <h2>Summary</h2>
                <p>
                    To secure a challenging position in a
                    reputable organization
                    to expand my learning knowledge and skill
                </p>
            </div>
            <div class="Experience">
                <h2>Experience</h2>
                <h3>Abc webdev pvt ltd - Web Developer</h3>
                <p>January 2022 to Present</p>
                <ul>
                    <li>
                        Actively engaged in web creative
                        design and development.
                    </li>
                    <li>
                        Designing project & planning
                    </li>
                </ul>
                <h3>Xyz webdev pvt ltd - junior web developer</h3>
                <p>August 2021 to December 2021</p>
                <ul>
                    <li>
                        Actively engaged in web creative
                        design and development.
                    </li>
                    <li>Designing project & planning</li>
                    <li>Working on designing</li>
                </ul>
            </div>
            <div class="Education">
                <h2>Education</h2>
                <table>
                    <tr>
                        <th>University/college </th>
                        <th>Passing year </th>
                        <th>percentage/cgpa</th>
                    </tr>
                    <tr>
                        <td>xyz</td>
                        <td>2020</td>
                        <td>8.9</td>
                    </tr>
                    <tr>
                        <td>pqr</td>
                        <td>2018</td>
                        <td>89%</td>
                    </tr>
                </table>
            </div>
            <div class="project">
                <ul>
                    <li>
                        <h2>Project1</h2>
                        <p>
                            This project is based on html
                            & used React
                        </p>
                    </li>
                    <li>
                        <h2>Project2</h2>
                        <p>
                            This project is based on html
                            & used React
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end of body section -->
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__social">
                <a href="#"><i class="ri-facebook-fill"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-github-fill"></i></a>
                <a href="#"><i class="ri-linkedin-fill"></i></a>
            </div>
            <p class="footer__copyright">&copy; 2023 Susan. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>